<h2>Member List</h2>
<span *ngFor="let member of appService.members | async">

  <p *ngIf="!editing" (click)="goToDetail(member)">{{member.name}}</p>
  <input *ngIf="editing" type="text" [(ngModel)]="member.name">

  <p *ngIf="!editing" (click)="goToDetail(member)">{{member.email}}</p>
  <input *ngIf="editing" type="email" [(ngModel)]="member.email">

  <p *ngIf="!editing" (click)="goToDetail(member)">{{member.age}}</p>
  <input *ngIf="editing" type="number" [(ngModel)]="member.age">

  <p *ngIf="!editing" (click)="goToDetail(member)">{{member.role}}</p>
  <input *ngIf="editing" type="text" [(ngModel)]="member.role">

  <div *ngIf="currentRoute === '/admin'">
    <button (click)="toggleEdit(member)">Edit</button>
    <button (click)="deleteMember(member)">Delete</button>
  </div>
</span>
