<h2>Add a new member</h2>
<form #addMemberForm="ngForm" (ngSubmit)="addMember(addMemberForm); false">
  <div class="form-group">
    <label for="name">Name: </label>
    <input name="name" class="form-control" type="text" ngModel>
  </div>

  <div class="form-group">
    <label for="email">Email: </label>
    <input name="email" class="form-control" type="email" ngModel>
  </div>

  <div class="form-group">
    <label for="age">Age: </label>
    <input name="age" class="form-control" type="number" ngModel>
  </div>

  <div class="form-group">
    <label for="role">Role: </label>
    <input name="role" class="form-control" type="text" ngModel>
  </div>

  <div class="form-group">
    <label for="bio">Bio: </label>
    <textarea class="form-control" name="bio" ngModel></textarea>
  </div>


  <button class="btn btn-success" type="submit">Submit</button>
</form>
